.client-container{
    align-items: center;
    justify-content: center;
    display: flex;
}
.imgClient{
    width: 100px;
}
.title-container{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    font-weight: 600;
    color:#FFCBDB ;
}
