footer {
    padding-left: 20px;
    column-count: 2;
}
.title-container{
    align-items: center;
    display: flex;
    justify-content: center;
}
.information-container{
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 600;
}